{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets 
    'bundles/sitemain/backend/js/ckeditor/contents.css'
    'bundles/sitemain/frontend/css/style.css'
    filter='yui_css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <header>
        <div class="social">
            <div class="social--inner">
                <a href="#" id="instagramm">instagramm</a>
                <a href="#" id="linkedin">linkedin</a>
                <div class="logo"></div>    
            </div>
        </div>
        <div class="slide">
            <div class="slide--inner">
                <div class="info"></div>
            </div>
        </div>
        <div class="top-menu">
            <div class="top-menu--inner">
                {{ knp_menu_render('SiteMainBundle:FrontendMenuBuilder:mainMenu', { 'style': 'navbar' }) }}
            </div>
        </div>
    </header>

    {% block slider %}
    {% endblock %}

    <section class="content">
        <div class="text">
            <div class="inner-text">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>
    </section>

    <footer>

    </footer>
{% endblock %}

{% block head %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'bundles/sitemain/frontend/js/jquery/dist/jquery.min.js' 
    filter='yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}" id="scripts"></script>
    {% endjavascripts %}
{% endblock %}